[user]
	email = mennyevendanan@asana.com
{{ if eq .chezmoi.os "darwin" -}}
	signingkey = FB5EA7DB17A051CD
{{ else if eq .chezmoi.os "linux" -}}
	signingkey = ~/.ssh/id_ed25519.pub
{{ end -}}
[commit]
	gpgsign = true
[alias]
	prboot = pr menny-bootcamp-project
	lintboot = lint menny-bootcamp-project
	upboot = pull --rebase origin  menny-bootcamp-project
	upboot-synced = pull --rebase origin bootcamp-project-synced
